label {
  margin-right: 0.5em
}

input, textarea, select {
  margin: 0.25em;
  margin-left: 1em
}

body {
  padding: 1em;
  background: #f29b00;
  color: #000000
}

a {
  color: #0000FF
}

#log_container {
  clear: both;
  display: none
}

.container {
  margin: 2em;
  padding: 0.5em;
  border: solid;
  float: left;
  display: none
}

#login{
  float: left;
  margin-right: 2em;
  padding: 1em;
  background: #6197DF;
  color: #000000
}

#cred input[type="submit"] {
  margin-left: 0em
}

#main {
  float: left
}
