<tr>
  <td colspan="2">
    <script src="https://www.google.com/recaptcha/api/challenge?k={recaptcha_public_key}" type="text/javascript"></script>
    <noscript>
      <iframe frameborder="0" height="300" src="https://www.google.com/recaptcha/api/noscript?k={recaptcha_public_key}{recaptcha_display_error}" width="500"></iframe>
      <br>
      <textarea cols="40" name="recaptcha_challenge_field" rows="3"></textarea>
      <input name="recaptcha_response_field" type="hidden" value="manual_challenge">
    </noscript>
  </td>
</tr>
